<!DOCTYPE html>
<html>
<head>
  <title>SQL Trace Debug by JGomez88</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/obsidian.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script src="https://unpkg.com/sql-formatter@2.3.1/dist/sql-formatter.min.js"></script>
  <script src="https://unpkg.com/vue-toasted"></script>
</head>
<body>
  <div id="app" class="container">
    <h1 class="text-center">{{ nombre_app +' '+ ver_app}}</h1>
    <form>
        <div class="container form-group">
            <textarea placeholder="Trace" class="form-control" v-model="debug" @input="cleanDebug" @change="cleanDebug" rows=10></textarea>
            <div class="container text-center">
              <button type="button" @click="limpiarTrace()" class="btn btn-danger">Limpiar</button>
            </div>
        </div>
        <div class="container" v-if='script'>
          <h2>Preparing</h2>
          <pre v-highlightjs='formatSQL(script)'><code class="sql"></code></pre>
          <div class="container text-center">
            <button type="button" @click="copiar(formatSQL(script))" class="btn btn-primary">Copiar</button>
          </div>
        </div>
        <div class="container"  v-if='script'>
          <h2>Parameters</h2>
          <ol>
            <li v-for="v in vars">
                {{ v }}
            </li>
          </ol>
        </div>

        <div class="container" v-if='res'>
          <h2>Script</h2>
          <pre v-highlightjs='formatSQL(res)'><code class="sql"></code></pre>
          <div class="container text-center">
            <button type="button" @click="copiar(formatSQL(res))" class="btn btn-primary">Copiar</button>
          </div>
        </div>
        <div class="container" v-if='res2'>
          <h2>Script (*)</h2>
          <pre v-highlightjs='formatSQL(res2)'><code class="sql"></code></pre>
          <div class="container text-center">
            <button type="button" @click="copiar(formatSQL(res2))" class="btn btn-primary">Copiar</button>
          </div>
        </div>
    </form>     
  </div>

  <script>
    let getExp = function (regExp, str, grupo){
      let result = regExp.exec(str);
      if(result && result[grupo]){
        return result[grupo];
      }
      return '';
    }
    
    let getTotal =  function (debug){
      let regExp = /Total: (.+)/g;
      return getExp(regExp,debug,1);
    }

    let getPreparing =  function (debug){
      let regExp = /Preparing: (.+)/g;
      return getExp(regExp,debug,1);
    }

    let getParametros =  function (debug){
      let regExp = /Parameters: (.+)/g;
      return getExp(regExp,debug,1);
    }

    let comillasTimestamp = function (script){
      let s = script.split(', ');
      s.forEach(l => {
        if(l.search('(Timestamp)')>-1){
         let vTimestamp = '\''+l.substring(0,l.length-11)+'\''+'(Timestamp)';
         script = script.replace(l, vTimestamp);
        }
      });
      return script;
    }

    let comillasString = function (script){
      let s = script.split(', ');
      s.forEach(l => {
        if(l.search('(String)')>-1){
         let vstring = '\''+l.substring(0,l.length-8)+'\''+'(String)';
         script = script.replace(l, vstring);
        }
      });
      return script;
    }

    let quitarTipos =  function(parametros){
      if(parametros){
        let v = parametros.replace(/\(.+?\)/g, '');
        return v;
      }
      return '';
    }
    
    let quitarAtributos =  function(sql){
      if(sql){
        return sql.replace(/^select (.+?) from/ig, 'SELECT * FROM');
      }
      return '';
    }

    let comentarSQL =  function(sql){
      if(sql){
        return '-- '+sql+'\n';
      }
      return '';
    }

    let getRes = function(v, script){
        let r = script;
        let i = 0;
        r = r.replace(/\?/g,function(){return v[i++]})
        return r;
    }

    let formatSQL = function(sql){
      return window.sqlFormatter.format(sql);
    }

    let limpiarTrace = function(){
      app.debug = '';
      app.res='';
      app.vars='';
      app.script='';
      app.res2='';
      app.resc='';
      app.total='';
    }

    Vue.use(Toasted, { 
       theme: "primary", 
       position: "top-center", 
       duration : 2000
    });
    
    let app = new Vue({
      el: '#app',
      data: {
        nombre_app:'SQL Trace Debug',
        ver_app: '1.1.7',
        debug:'',
        res:'',
        vars:'',
        script:'',
        res2:'',
        resc:'',
        total:'',
        supportsCB:false
      },
      created() {
        if(navigator.clipboard) {
          this.supportsCB = true;
        }
      },
      methods: {
        cleanDebug: function (evt) {
          if(app.debug){
            app.script = getPreparing(app.debug);
            let p = quitarTipos(comillasTimestamp(comillasString(getParametros(app.debug))));
            app.total = getTotal(app.debug);

            if(p){
              app.vars = p.split(', ');
            }else{
              app.vars = [];
            }
            if(app.vars && app.script){
               app.resc = getRes(app.vars, app.script);
              if(app.total){
                 app.res = comentarSQL('Total: '+app.total) + app.resc;
                 app.res2 = comentarSQL('Total: '+app.total) + quitarAtributos(app.resc);
              }else{
                app.res = app.resc;
                app.res2 = quitarAtributos(app.resc);
              }
            }else{
              app.res = '';
              app.res2 = '';
              app.resc = '';
            }
          }else{
            app.res = '';
            app.vars = '';
            app.script = '';
            app.res2 = '';
            app.resc = '';
          }

        },
        getParametros,
        getPreparing,
        getTotal,
        getRes,
        quitarTipos,
        quitarAtributos,
        formatSQL,
        limpiarTrace,
        copiar:function(valor){
             navigator.clipboard.writeText(valor)
            .then(() => {
              this.message = 'Texto copiado al portapapeles';
              app.$toasted.info(this.message);
            })
          .catch(e => {
            console.error(e);
            this.message = 'No se pudo copiar el texto al portapapeles!!!';
            app.$toasted.error(this.message);
          });
        }
      },
      filters: {
        formatSQL
      }
    })

    Vue.directive('highlightjs', {
      deep: true,
      bind: function(el, binding) {
        let targets = el.querySelectorAll('code')
        targets.forEach((target) => {
          if (binding.value) {
            target.textContent = binding.value
          }
          hljs.highlightBlock(target)
        })
      },
      componentUpdated: function(el, binding) {
        let targets = el.querySelectorAll('code')
        targets.forEach((target) => {
          if (binding.value) {
            target.textContent = binding.value
            hljs.highlightBlock(target)
          }
        })
      }
    });
  </script>
</body>
</html>
